<section id="home-about">

    <%= render 'items/showcase' %>
    <%# <h1>About Us</h1> %>
    <div class="wrapper">
        <div class="text">
            <p>Fashion is one of the most critical industries in our world today. Style has become one of the primary ways in which people express their personality and in which they distinguish themselves from those around them. With every New Year which comes and goes new fashions arrive on the scene and they all endeavor to be more colorful and fashionable than those which saw last year. From online retailers like Roden Gray to printed magazines, there’s inspiration everywhere. The desire to express one is something which was present all through human history.

            <p>People of all ages are addicted to new trends in the world of fashion. There is a tremendous amount of competition within the industry and also among consumers. The style is also different among different cultures and nationalities, and this is why it’s so exciting when one travels to various parts of the planet to observe firsthand how people dress in those countries. The clothes we wear has become more than merely a way to cover our nakedness instead it has also become one of the primary ways in which people express themselves.</p>

            <p>Garments which may fit one person may not necessarily be equally suitable for someone else. And even should those clothes be fantastic designer’s efforts, it does not mean that everyone would be equally comfortable when wearing those clothes. Different people will need different styles and designs, something which will be an expression of their uniqueness and personality before they will not be comfortable in wearing that specific fashion design. Human beings are complicated creatures; every one of them has different desires, dreams, and objectives which they deem to be essential to reach a certain level of success in their life. Fashion trends are a critical aspect of that success...<a href="https://www.thefashionisto.com/content/essay-fashion-important/">Read More</a></p>
        </div>
        <div class="right-img">
            <%# <img src="https://images.unsplash.com/photo-1587141121200-3cdb4c1b78a7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80"> %>
            <%# <img src="https://images.unsplash.com/photo-1567777833528-425b0bf6a99a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=973&q=80"> %>
            <%# <img src="https://images.unsplash.com/photo-1559697242-7c922c6198c6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=668&q=80"> %>
            <img src="https://images.unsplash.com/photo-1549777254-896c6739f4dd?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=698&q=80">
        </div>
    </div>
</section>
